.container {
    display: flex;
    width: 80%;
    margin: auto;
    /* justify-content: space-evenly; */
    align-items: flex-end;
    /* flex-wrap: wrap; */
}

form {
    padding: 5px;
    width: 20%;
    height: 100%;
    align-self: center;
    padding: 15px;
    border-radius: 15px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: end; */
    background-color: rgb(199, 199, 199);
}

h1 {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

tbody tr:nth-child(odd) {
    background-color: #e4e4e4;
}

tbody tr:nth-child(even) {
    background-color: #b3b3b3;
}

footer {
    width: 100%;
    margin-top: 160px;
    background-color: #e4e4e4;
    padding: 5px;
}

table {
    width: 40%;
    margin: auto;
    border-radius: 15px;
    margin-left: 10px;
    /* text-align: start; */
    /* margin-top: 10px; */
    /* background-color: #5e5e5e; */
}

.graph {
    width: 100%;
    background-color: coral;
    height: 300px;
    border-radius: 15px;
}

body {
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


/* input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 100px;
    height: 12pt;
} */