.container {
    display: flex;
    width: 80%;
    margin: auto;
}

form {
    padding: 5px;
    width: 300px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: end;
    background-color: rgb(199, 199, 199);
}

h1 {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

tbody tr:nth-child(odd) {
    background-color: #e4e4e4;
}

tbody tr:nth-child(even) {
    background-color: #b3b3b3;
}

table {
    width: 50%;
    margin: auto;
    /* text-align: start; */
    /* margin-top: 10px; */
    /* background-color: #5e5e5e; */
}


/* input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 100px;
    height: 12pt;
} */