html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    /* glass morphism effect */
    background: rgba( 255, 255, 255, 0.10);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 16.5px);
    border: none;
    -webkit-backdrop-filter: blur( 16.5px);
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /* glass morphism effect */
    background: rgba( 255, 255, 255, 0.10);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 16.5px);
    border: none;
    -webkit-backdrop-filter: blur( 16.5px);
}

form {
    padding: 20px;
    /* glass morph background */
    background: rgba( 255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 10.5px);
    -webkit-backdrop-filter: blur( 10.5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.text-center {
    background-image: url('http://3.bp.blogspot.com/-0QeNuqnPXGw/T1jV6nkuU3I/AAAAAAAAUxo/G_WcVLUNIEA/s1600/Free-Hd-Nature-Mountain-River-Wallpaper.jpg');
    background-size: cover;
}

.h3 {
    color: white;
}

.already {
    color: white;
    text-decoration: none;
}

.already:hover {
    color: white;
    text-decoration: underline;
}